.button {
  background-color: var(--color-primary);
  height:  var(--button-height);
  border: 1px solid transparent;
  border-radius: var(--button-border-radius);
  text-transform: uppercase;
  padding: 0 24px;
  min-width: 240px;
  font-size: var(--font-button);
  font-family: var(--font-sans);
  font-weight: 800;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.button--outlined {
  background-color: transparent;
  border-color: var(--color-button-outline);
  color: var(--color-white);
}

.button--outlined-dark {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary-text);
}

.button--secondary {
  background-color: var(--color-primary-text);
  border-color: var(--color-primary-text);
  color: var(--color-primary);
}
